@import "tailwindcss";

html{
  scroll-behavior: smooth;
}
body{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }
  .preview_paren{
    padding: 0;
  }

  button,
  a,
  .no-print,
  .preview_header {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 12mm;
  }
}